/* акцент - #2196F3 */
/* основной цвет текста - #757575 */
/* дополнительный цвет текста (заголовки) - #212121 */
/* цвет лого - #000000 и #2196F3 */
/* цвет текста хиро и футер - #FFFFFF */

:root (
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-black: #000000;
    --logo-white: #FFFFFF;
    --primary-bg-color: #FFFFFF;
)


body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
h2, h3, p {
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 

.container2 {
    padding-top: 94px;
    padding-bottom: 94px;
    
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* logo */
.logo.main{
    color: #2196F3;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}
.logo.black {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}
.logo.white {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}

/* site-nav */

.site-nav {
    margin: 0;
    margin-left: 93px;
    padding-left: 0;
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* contacts */
.contacts a {
    color: var(--primary-text-color);
}

.contacts {
    margin-left: auto;
}

.contacts .link + .link {
    margin-left: 30px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: #2196f3;
}

/* hero */
.hero {
    height: 600px;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bg-img.jpg);
    background-color: #2F303A;
    color: #FFFFFF;
}

 .hero-h {
    margin-top: 0;
    margin-bottom: 30;
    padding-top: 200px;
    padding-left: 237px;
    padding-right: 237px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-hero {
    border-radius: 6px;
    padding: 10px 22px;
    min-width: 200px;
    border: none;

    background-color: #2196f3;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
}

.button-hero:hover,
.button-hero:focus {
    background-color: #2196f3;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
}

/* about us */

.about-us {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.about-us .item + .item {
    margin-left: 30px;
}

.about-us > .item::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.about-us .icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.about-us .icon-clock::before {
    background-image: url(../images/clock.svg);
}

.about-us .icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.about-us .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.what-we-do {
    display: flex;
    margin-top: 50px;
    padding-left: 0;
    margin-bottom: 0;
}

.what-we-do .item + .item {
    margin-left: 30px;
}

.our-team-ul {
    display: flex;
    margin-top: 50px;
    padding-left: 0;
    margin-bottom: 0;
}

.our-team-ul .item + .item {
    margin-left: 30px;
}


/* sections */

.title-hh {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.title-hhh {
    padding-top: 30px;

    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
}

.p-main {
    padding-top: 10px;

    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
}

.our-team .title {
    padding-top: 30px;

    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team > .title-hh {
    padding-top: 94px;
}

.our-team .p-team {
    padding-top: 10px;

    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
}

/* button portfolio */
.button-portfolio {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;
    background-color: #F5F4FA;
    color: var(--title-text-color)
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: #2196f3;
    color: #FFFFFF;
}

.our-team {
    background-color: #F5F4FA;
}

.section .title{
    color: var(--title-text-color);
}

.div-button-portfolio {
    display: flex;
    justify-content: center;
}

.div-button-portfolio .button-portfolio + .button-portfolio {
    margin-left: 8px;
}
.portfolio {
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.portfolio .item {
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio .item:nth-child(3n) {
    margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

/* .portfolio .item { */
    /* width: calc((100%) / 3); */
    /* margin-right: 30px; */
/* } */

/* .portfolio .item:nth-child(3n) {
    margin-right: 0;
} */

.title-portfolio {
    padding-top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: #212121;
}

.portfolio p {
    padding-top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
/* footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.address-footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #FFFFFF;
}


.address-footer a {
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
}
